<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>

        <element type="button">
            <name>defaultButton</name>
            <label><![CDATA[<b>Allgemeine Einstellungen</b>]]></label>
        </element>

        <element type="boolean">
            <name>shopStatus</name>
            <label>Shop aktivieren</label>
            <value>true</value>
            <description>Soll das Plugin für diesen Shop aktiviert werden?</description>
        </element>


        <element type="button">
            <name>pickupButton</name>
            <label><![CDATA[<b>Click & Collect Einstellungen</b>]]></label>
        </element>

        <element type="boolean">
            <name>pickupMsandatoryStockStatus</name>
            <label>Verfügbarkeit aktivieren</label>
            <value>true</value>
            <description>Muss die Filiale alle Artikel im Bestand haben, damit eine Abholung möglich ist?</description>
        </element>

    </elements>
</config>
