<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/menu.xsd">
    <entries>

        <!-- main app -->
        <entry>
            <name>OstStores</name>
            <label>Filialen</label>
            <controller>OstStores</controller>
            <action>index</action>
            <class>sprite-blue-document-template</class>
            <parent identifiedBy="id">23</parent>
        </entry>

    </entries>
</menu>